/* Figma Styles of your File */
:root {
  /* Colors */
  --black: #000000;
  --black-0: rgba(0, 0, 0, 0);
  --blue-zodiac: #112240;
  --blue-zodiac: #0a192f;
  --blue-zodiac-20: rgba(17, 34, 64, 0.2);
  --blue-zodiac-30: rgba(17, 34, 64, 0.3);
  --blue-zodiac-40: rgba(17, 34, 64, 0.4);
  --blue-zodiac-50: rgba(10, 25, 47, 0.5);
  --blue-zodiac-50: rgba(17, 34, 64, 0.5);
  --blue-zodiac-70: rgba(17, 34, 64, 0.7);
  --blue-zodiac-80: rgba(17, 34, 64, 0.8);
  --blue-zodiac-80: rgba(10, 25, 47, 0.8);
  --blue-zodiac-90: rgba(10, 25, 47, 0.9);
  --blue-zodiac-95: rgba(10, 25, 47, 0.95);
  --boulder: #767676;
  --candlelight: #facc15;
  --cloud-burst: #233554;
  --corn: #eab308;
  --corn-20: rgba(234, 179, 8, 0.2);
  --dodger-blue: #3b82f6;
  --dodger-blue-10: rgba(59, 130, 246, 0.1);
  --dodger-blue-20: rgba(59, 130, 246, 0.2);
  --dodger-blue-5: rgba(59, 130, 246, 0.05);
  --ecstasy-10: rgba(249, 115, 22, 0.1);
  --ecstasy-20: rgba(249, 115, 22, 0.2);
  --ecstasy-5: rgba(249, 115, 22, 0.05);
  --fiord: #475569;
  --flamingo-20: rgba(239, 68, 68, 0.2);
  --froly: #f87171;
  --geyser: #cbd5e1;
  --green-haze: #059669;
  --gull-gray: #94a3b8;
  --heliotrope: #c084fc;
  --heliotrope-20: rgba(168, 85, 247, 0.2);
  --malibu: #60a5fa;
  --mountain-meadow: #10b981;
  --mountain-meadow-10: rgba(16, 185, 129, 0.1);
  --mountain-meadow-20: rgba(16, 185, 129, 0.2);
  --mountain-meadow-30: rgba(16, 185, 129, 0.3);
  --mountain-meadow-5: rgba(16, 185, 129, 0.05);
  --mountain-meadow-50: rgba(16, 185, 129, 0.5);
  --mountain-meadow-70: rgba(16, 185, 129, 0.7);
  --mystic: #e2e8f0;
  --neon-carrot: #fb923c;
  --pickled-bluewood: #334155;
  --pickled-bluewood-50: rgba(51, 65, 85, 0.5);
  --regent-gray: #808ba4;
  --shamrock: #34d399;
  --slate-gray: #64748b;
  --tundora: #444444;
  --white: #ffffff;
  --white-02: rgba(255, 255, 255, 0);
  --white-10: rgba(255, 255, 255, 0.1);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-5: rgba(255, 255, 255, 0.05);
  --white-blue-zodiac: linear-gradient(to left, #0a192f, #0a192f),
    linear-gradient(to left, #ffffff, #ffffff);

  /* Fonts */
  --semantic-button-font-family: Inter-Medium, sans-serif;
  --semantic-button-font-size: 14px;
  --semantic-button-line-height: 20px;
  --semantic-button-font-weight: 500;
  --semantic-button-font-style: normal;
  --semantic-heading-1-font-family: Inter-Bold, sans-serif;
  --semantic-heading-1-font-size: 30px;
  --semantic-heading-1-line-height: 36px;
  --semantic-heading-1-font-weight: 700;
  --semantic-heading-1-font-style: normal;
  --semantic-heading-1-font-family: Inter-Bold, sans-serif;
  --semantic-heading-1-font-size: 36px;
  --semantic-heading-1-line-height: 40px;
  --semantic-heading-1-font-weight: 700;
  --semantic-heading-1-font-style: normal;
  --semantic-heading-1-font-family: Inter-Bold, sans-serif;
  --semantic-heading-1-font-size: 48px;
  --semantic-heading-1-line-height: 48px;
  --semantic-heading-1-font-weight: 700;
  --semantic-heading-1-font-style: normal;
  --semantic-heading-1-font-family: Inter-Bold, sans-serif;
  --semantic-heading-1-font-size: 72px;
  --semantic-heading-1-line-height: 72px;
  --semantic-heading-1-font-weight: 700;
  --semantic-heading-1-font-style: normal;
  --semantic-heading-1-font-family: PlayfairDisplay-Bold, sans-serif;
  --semantic-heading-1-font-size: 256px;
  --semantic-heading-1-line-height: 256px;
  --semantic-heading-1-font-weight: 700;
  --semantic-heading-1-font-style: normal;
  --semantic-heading-2-font-family: Inter-SemiBold, sans-serif;
  --semantic-heading-2-font-size: 20px;
  --semantic-heading-2-line-height: 28px;
  --semantic-heading-2-font-weight: 600;
  --semantic-heading-2-font-style: normal;
  --semantic-heading-2-font-family: Inter-Bold, sans-serif;
  --semantic-heading-2-font-size: 24px;
  --semantic-heading-2-line-height: 32px;
  --semantic-heading-2-font-weight: 700;
  --semantic-heading-2-font-style: normal;
  --semantic-heading-2-font-family: Inter-Bold, sans-serif;
  --semantic-heading-2-font-size: 24px;
  --semantic-heading-2-line-height: 30px;
  --semantic-heading-2-font-weight: 700;
  --semantic-heading-2-font-style: normal;
  --semantic-heading-2-font-family: Inter-Bold, sans-serif;
  --semantic-heading-2-font-size: 30px;
  --semantic-heading-2-line-height: 37.5px;
  --semantic-heading-2-font-weight: 700;
  --semantic-heading-2-font-style: normal;
  --semantic-heading-2-font-family: Inter-Bold, sans-serif;
  --semantic-heading-2-font-size: 36px;
  --semantic-heading-2-line-height: 40px;
  --semantic-heading-2-font-weight: 700;
  --semantic-heading-2-font-style: normal;
  --semantic-heading-2-font-family: PlayfairDisplay-Italic, sans-serif;
  --semantic-heading-2-font-size: 59.5px;
  --semantic-heading-2-line-height: 60px;
  --semantic-heading-2-font-weight: 400;
  --semantic-heading-2-font-style: italic;
  --semantic-heading-2-font-family: PlayfairDisplay-Medium, sans-serif;
  --semantic-heading-2-font-size: 59.5px;
  --semantic-heading-2-line-height: 60px;
  --semantic-heading-2-font-weight: 500;
  --semantic-heading-2-font-style: normal;
  --semantic-heading-2-font-family: PlayfairDisplay-Bold, sans-serif;
  --semantic-heading-2-font-size: 60px;
  --semantic-heading-2-line-height: 60px;
  --semantic-heading-2-font-weight: 700;
  --semantic-heading-2-font-style: normal;
  --semantic-heading-3-font-family: Inter-SemiBold, sans-serif;
  --semantic-heading-3-font-size: 18px;
  --semantic-heading-3-line-height: 28px;
  --semantic-heading-3-font-weight: 600;
  --semantic-heading-3-font-style: normal;
  --semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --semantic-heading-3-font-size: 18px;
  --semantic-heading-3-line-height: 28px;
  --semantic-heading-3-font-weight: 700;
  --semantic-heading-3-font-style: normal;
  --semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --semantic-heading-3-font-size: 20px;
  --semantic-heading-3-line-height: 25px;
  --semantic-heading-3-font-weight: 700;
  --semantic-heading-3-font-style: normal;
  --semantic-heading-3-font-family: Inter-SemiBold, sans-serif;
  --semantic-heading-3-font-size: 24px;
  --semantic-heading-3-line-height: 32px;
  --semantic-heading-3-font-weight: 600;
  --semantic-heading-3-font-style: normal;
  --semantic-heading-3-upper-font-family: Inter-SemiBold, sans-serif;
  --semantic-heading-3-upper-font-size: 11.199999809265137px;
  --semantic-heading-3-upper-line-height: 16.8px;
  --semantic-heading-3-upper-font-weight: 600;
  --semantic-heading-3-upper-font-style: normal;
  --semantic-heading-4-font-family: Inter-Medium, sans-serif;
  --semantic-heading-4-font-size: 16px;
  --semantic-heading-4-line-height: 24px;
  --semantic-heading-4-font-weight: 500;
  --semantic-heading-4-font-style: normal;
  --semantic-heading-4-font-family: Inter-Medium, sans-serif;
  --semantic-heading-4-font-size: 24px;
  --semantic-heading-4-line-height: 32px;
  --semantic-heading-4-font-weight: 500;
  --semantic-heading-4-font-style: normal;
  --semantic-heading-4-font-family: PlayfairDisplay-Regular, sans-serif;
  --semantic-heading-4-font-size: 36px;
  --semantic-heading-4-line-height: 40px;
  --semantic-heading-4-font-weight: 400;
  --semantic-heading-4-font-style: normal;
  --semantic-heading-4-font-family: PlayfairDisplay-Regular, sans-serif;
  --semantic-heading-4-font-size: 72px;
  --semantic-heading-4-line-height: 72px;
  --semantic-heading-4-font-weight: 400;
  --semantic-heading-4-font-style: normal;
  --semantic-heading-4-upper-font-family: Inter-SemiBold, sans-serif;
  --semantic-heading-4-upper-font-size: 14px;
  --semantic-heading-4-upper-line-height: 20px;
  --semantic-heading-4-upper-font-weight: 600;
  --semantic-heading-4-upper-font-style: normal;
  --semantic-heading-4-upper-font-family: Inter-SemiBold, sans-serif;
  --semantic-heading-4-upper-font-size: 14px;
  --semantic-heading-4-upper-line-height: 20px;
  --semantic-heading-4-upper-font-weight: 600;
  --semantic-heading-4-upper-font-style: normal;
  --semantic-heading-5-font-family: Inter-Bold, sans-serif;
  --semantic-heading-5-font-size: 20px;
  --semantic-heading-5-line-height: 28px;
  --semantic-heading-5-font-weight: 700;
  --semantic-heading-5-font-style: normal;
  --semantic-input-font-family: Inter-Regular, sans-serif;
  --semantic-input-font-size: 14px;
  --semantic-input-line-height: normal;
  --semantic-input-font-weight: 400;
  --semantic-input-font-style: normal;
  --semantic-input-font-family: Inter-Regular, sans-serif;
  --semantic-input-font-size: 16px;
  --semantic-input-line-height: normal;
  --semantic-input-font-weight: 400;
  --semantic-input-font-style: normal;
  --semantic-label-font-family: Inter-Regular, sans-serif;
  --semantic-label-font-size: 12px;
  --semantic-label-line-height: 19.5px;
  --semantic-label-font-weight: 400;
  --semantic-label-font-style: normal;
  --semantic-link-font-family: Inter-SemiBold, sans-serif;
  --semantic-link-font-size: 11.199999809265137px;
  --semantic-link-line-height: 16.8px;
  --semantic-link-font-weight: 600;
  --semantic-link-font-style: normal;
  --semantic-link-font-family: Inter-SemiBold, sans-serif;
  --semantic-link-font-size: 14px;
  --semantic-link-line-height: 20px;
  --semantic-link-font-weight: 600;
  --semantic-link-font-style: normal;
  --semantic-link-upper-font-family: Inter-Medium, sans-serif;
  --semantic-link-upper-font-size: 14px;
  --semantic-link-upper-line-height: 20px;
  --semantic-link-upper-font-weight: 500;
  --semantic-link-upper-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 16px;
  --inter-regular-line-height: 24px;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 14px;
  --inter-regular-line-height: 20px;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 14px;
  --inter-regular-line-height: 22.75px;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --inter-bold-font-family: Inter-Bold, sans-serif;
  --inter-bold-font-size: 30px;
  --inter-bold-line-height: 36px;
  --inter-bold-font-weight: 700;
  --inter-bold-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 12px;
  --inter-regular-line-height: 16px;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 12px;
  --inter-regular-line-height: normal;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 16px;
  --inter-regular-line-height: 26px;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 18px;
  --inter-regular-line-height: 28px;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 18px;
  --inter-regular-line-height: 29.25px;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --inter-regular-upper-font-family: Inter-Regular, sans-serif;
  --inter-regular-upper-font-size: 12px;
  --inter-regular-upper-line-height: 16px;
  --inter-regular-upper-font-weight: 400;
  --inter-regular-upper-font-style: normal;
  --inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --inter-semi-bold-font-size: 12px;
  --inter-semi-bold-line-height: 16px;
  --inter-semi-bold-font-weight: 600;
  --inter-semi-bold-font-style: normal;
  --inter-bold-font-family: Inter-Bold, sans-serif;
  --inter-bold-font-size: 24px;
  --inter-bold-line-height: normal;
  --inter-bold-font-weight: 700;
  --inter-bold-font-style: normal;
  --inter-bold-font-family: Inter-Bold, sans-serif;
  --inter-bold-font-size: 20px;
  --inter-bold-line-height: 28px;
  --inter-bold-font-weight: 700;
  --inter-bold-font-style: normal;
  --inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --inter-semi-bold-font-size: 16px;
  --inter-semi-bold-line-height: 24px;
  --inter-semi-bold-font-weight: 600;
  --inter-semi-bold-font-style: normal;
  --inter-medium-font-family: Inter-Medium, sans-serif;
  --inter-medium-font-size: 12px;
  --inter-medium-line-height: 16px;
  --inter-medium-font-weight: 500;
  --inter-medium-font-style: normal;
  --inter-medium-upper-font-family: Inter-Medium, sans-serif;
  --inter-medium-upper-font-size: 12px;
  --inter-medium-upper-line-height: 16px;
  --inter-medium-upper-font-weight: 500;
  --inter-medium-upper-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 10px;
  --inter-regular-line-height: 15px;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --inter-bold-font-family: Inter-Bold, sans-serif;
  --inter-bold-font-size: 14px;
  --inter-bold-line-height: 20px;
  --inter-bold-font-weight: 700;
  --inter-bold-font-style: normal;
  --inter-bold-upper-font-family: Inter-Bold, sans-serif;
  --inter-bold-upper-font-size: 12px;
  --inter-bold-upper-line-height: 16px;
  --inter-bold-upper-font-weight: 700;
  --inter-bold-upper-font-style: normal;
  --inter-medium-font-family: Inter-Medium, sans-serif;
  --inter-medium-font-size: 12px;
  --inter-medium-line-height: 19.5px;
  --inter-medium-font-weight: 500;
  --inter-medium-font-style: normal;
  --inter-bold-font-family: Inter-Bold, sans-serif;
  --inter-bold-font-size: 24px;
  --inter-bold-line-height: 32px;
  --inter-bold-font-weight: 700;
  --inter-bold-font-style: normal;
  --inter-bold-upper-font-family: Inter-Bold, sans-serif;
  --inter-bold-upper-font-size: 10px;
  --inter-bold-upper-line-height: 15px;
  --inter-bold-upper-font-weight: 700;
  --inter-bold-upper-font-style: normal;
  --inter-bold-font-family: Inter-Bold, sans-serif;
  --inter-bold-font-size: 16px;
  --inter-bold-line-height: 24px;
  --inter-bold-font-weight: 700;
  --inter-bold-font-style: normal;
  --inter-italic-font-family: Inter-Italic, sans-serif;
  --inter-italic-font-size: 12px;
  --inter-italic-line-height: 19.5px;
  --inter-italic-font-weight: 400;
  --inter-italic-font-style: italic;
  --inter-italic-font-family: Inter-Italic, sans-serif;
  --inter-italic-font-size: 20px;
  --inter-italic-line-height: 28px;
  --inter-italic-font-weight: 400;
  --inter-italic-font-style: italic;
  --inter-semi-bold-upper-font-family: Inter-SemiBold, sans-serif;
  --inter-semi-bold-upper-font-size: 11.199999809265137px;
  --inter-semi-bold-upper-line-height: 16.8px;
  --inter-semi-bold-upper-font-weight: 600;
  --inter-semi-bold-upper-font-style: normal;
  --inter-medium-font-family: Inter-Medium, sans-serif;
  --inter-medium-font-size: 18px;
  --inter-medium-line-height: 28px;
  --inter-medium-font-weight: 500;
  --inter-medium-font-style: normal;
  --inter-medium-font-family: Inter-Medium, sans-serif;
  --inter-medium-font-size: 18px;
  --inter-medium-line-height: 29.25px;
  --inter-medium-font-weight: 500;
  --inter-medium-font-style: normal;
  --inter-light-font-family: Inter-Light, sans-serif;
  --inter-light-font-size: 48px;
  --inter-light-line-height: 48px;
  --inter-light-font-weight: 300;
  --inter-light-font-style: normal;
  --inter-semi-bold-upper-font-family: Inter-SemiBold, sans-serif;
  --inter-semi-bold-upper-font-size: 12px;
  --inter-semi-bold-upper-line-height: 16px;
  --inter-semi-bold-upper-font-weight: 600;
  --inter-semi-bold-upper-font-style: normal;
  --playfair-display-bold-italic-font-family: PlayfairDisplay-BoldItalic,
    sans-serif;
  --playfair-display-bold-italic-font-size: 24px;
  --playfair-display-bold-italic-line-height: 32px;
  --playfair-display-bold-italic-font-weight: 700;
  --playfair-display-bold-italic-font-style: italic;
  --playfair-display-italic-font-family: PlayfairDisplay-Italic, sans-serif;
  --playfair-display-italic-font-size: 72px;
  --playfair-display-italic-line-height: 72px;
  --playfair-display-italic-font-weight: 400;
  --playfair-display-italic-font-style: italic;

  /* Effects */
}
/* Figma Color Variables of your File */
:root,
[data-htmltodesign-mode="mode-1"] {
  /* mode-1 */
  --color-white-solid: #ffffff;
  --color-azure-11: #0a192f;
  --color-azure-65: #94a3b8;
  --color-azure-16-70: rgba(17, 34, 64, 0.7);
  --color-white-5: rgba(255, 255, 255, 0.05);
  --color-azure-84: #cbd5e1;
  --color-azure-47: #64748b;
  --color-azure-16: #112240;
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-spring-green-52: #34d399;
  --color-spring-green-39-10: rgba(16, 185, 129, 0.1);
  --color-spring-green-39: #10b981;
  --color-azure-23: #233554;
  --color-white-20: rgba(255, 255, 255, 0.2);
  --color-black-solid: #000000;
  --color-grey-27: #444444;
  --color-spring-green-30: #059669;
  --color-azure-57: #808ba4;
  --color-azure-11-50: rgba(10, 25, 47, 0.5);
  --color-spring-green-39-20: rgba(16, 185, 129, 0.2);
  --color-spring-green-39-30: rgba(16, 185, 129, 0.3);
  --color-azure-11-90: rgba(10, 25, 47, 0.9);
  --color-spring-green-39-5: rgba(16, 185, 129, 0.05);
  --color-azure-16-50: rgba(17, 34, 64, 0.5);
  --color-grey-46: #767676;
  --color-azure-16-30: rgba(17, 34, 64, 0.3);
  --color-azure-16-20: rgba(17, 34, 64, 0.2);
  --color-white-02: rgba(255, 255, 255, 0);
  --color-azure-35: #475569;
  --color-yellow-47: #eab308;
  --color-spring-green-39-50: rgba(16, 185, 129, 0.5);
  --color-azure-68: #60a5fa;
  --color-azure-60-20: rgba(59, 130, 246, 0.2);
  --color-azure-16-80: rgba(17, 34, 64, 0.8);
  --color-azure-16-40: rgba(17, 34, 64, 0.4);
  --color-black-0: rgba(0, 0, 0, 0);
  --color-spring-green-39-0: rgba(16, 185, 129, 0);
  --color-yellow-47-20: rgba(234, 179, 8, 0.2);
  --color-yellow-53: #facc15;
  --color-violet-65-20: rgba(168, 85, 247, 0.2);
  --color-violet-75: #c084fc;
  --color-red-60-20: rgba(239, 68, 68, 0.2);
  --color-red-71: #f87171;
  --color-azure-60: #3b82f6;
  --color-orange-61: #fb923c;
  --color-azure-11-80: rgba(10, 25, 47, 0.8);
  --color-spring-green-39-70: rgba(16, 185, 129, 0.7);
  --color-grey-91: #e2e8f0;
  --color-white-40: rgba(255, 255, 255, 0.4);
  --color-azure-11-0: rgba(10, 25, 47, 0);
  --color-azure-11-95: rgba(10, 25, 47, 0.95);
  --color-azure-11-40: rgba(10, 25, 47, 0.4);
  --color-orange-53-20: rgba(249, 115, 22, 0.2);
  --color-azure-60-5: rgba(59, 130, 246, 0.05);
  --color-azure-60-10: rgba(59, 130, 246, 0.1);
  --color-orange-53-5: rgba(249, 115, 22, 0.05);
  --color-orange-53-10: rgba(249, 115, 22, 0.1);
  --color-azure-27: #334155;
  --color-azure-27-50: rgba(51, 65, 85, 0.5);
}
