* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v6_678 {
  width: 100%;
  height: 2361px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_710 {
  width: 100%;
  height: 99px;
  background: rgba(10,25,47,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_711 {
  width: 100%;
  height: 98px;
  background: url("../images/v104_711.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 264px;
  overflow: hidden;
}
.v104_712 {
  width: 100%;
  height: 56px;
  background: url("../images/v104_712.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 1px;
  overflow: hidden;
}
.v104_718 {
  width: 103px;
  height: 56px;
  background: url("../images/v104_718.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_719 {
  width: 68px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v104_720 {
  width: 156px;
  height: 54px;
  background: url("../images/v104_720.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 103px;
  overflow: hidden;
}
.v104_721 {
  width: 170px;
  height: 54px;
  background: url("../images/v104_721.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 32px;
  overflow: hidden;
}
.v104_722 {
  width: 93px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v104_723 {
  width: 117px;
  height: 56px;
  background: url("../images/v104_723.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1248px;
  overflow: hidden;
}
.v104_724 {
  width: 123px;
  height: 54px;
  background: url("../images/v104_724.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 259px;
  overflow: hidden;
}
.v104_725 {
  width: 91px;
  height: 54px;
  background: url("../images/v104_725.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 32px;
  overflow: hidden;
}
.v104_726 {
  width: 51px;
  color: rgba(16,185,129,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v104_727 {
  width: 146px;
  height: 56px;
  background: url("../images/v104_727.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 691px;
  overflow: hidden;
}
.v104_728 {
  width: 152px;
  height: 56px;
  background: url("../images/v104_728.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 32px;
  overflow: hidden;
}
.v104_729 {
  width: 102px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v104_730 {
  width: 173px;
  height: 54px;
  background: url("../images/v104_730.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 382px;
  overflow: hidden;
}
.v104_731 {
  width: 110px;
  height: 35px;
  background: url("../images/v104_731.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 32px;
  overflow: hidden;
}
.v104_732 {
  width: 110px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v104_733 {
  width: 136px;
  height: 54px;
  background: url("../images/v104_733.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 555px;
  overflow: hidden;
}
.v104_734 {
  width: 104px;
  height: 54px;
  background: url("../images/v104_734.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 32px;
  overflow: hidden;
}
.v104_735 {
  width: 97px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v104_736 {
  width: 165px;
  height: 56px;
  background: url("../images/v104_736.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 837px;
  overflow: hidden;
}
.v104_737 {
  width: 133px;
  height: 56px;
  background: url("../images/v104_737.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 32px;
  overflow: hidden;
}
.v104_738 {
  width: 83px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v104_739 {
  width: 155px;
  height: 56px;
  background: url("../images/v104_739.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1002px;
  overflow: hidden;
}
.v104_740 {
  width: 123px;
  height: 56px;
  background: url("../images/v104_740.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 32px;
  overflow: hidden;
}
.v104_741 {
  width: 73px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v104_742 {
  width: 167px;
  height: 56px;
  background: url("../images/v104_742.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1157px;
  overflow: hidden;
}
.v104_743 {
  width: 135px;
  height: 56px;
  background: url("../images/v104_743.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 32px;
  overflow: hidden;
}
.v104_744 {
  width: 85px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_679 {
  width: 100%;
  height: 1805px;
  background: url("../images/v6_679.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 128px 24px;
  margin: 64px;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 240px;
  overflow: hidden;
}
.v6_680 {
  width: 100%;
  height: 116px;
  background: url("../images/v6_680.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 24px;
  overflow: hidden;
}
.v6_681 {
  width: 672px;
  height: 116px;
  background: url("../images/v6_681.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 360px;
  overflow: hidden;
}
.v6_684 {
  width: 672px;
  height: 48px;
  background: url("../images/v6_684.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_685 {
  width: 418px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 127px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v6_689 {
  width: 672px;
  height: 52px;
  background: url("../images/v6_689.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v6_690 {
  width: 669px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 0px;
  left: 2px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v6_693 {
  width: 100%;
  height: 586px;
  background: url("../images/v6_693.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 308px;
  left: 24px;
  overflow: hidden;
}
.v6_694 {
  width: 576px;
  height: 586px;
  background: rgba(17,34,64,0.699999988079071);
  padding: 40px 40px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 408px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v6_695 {
  width: 256px;
  height: 256px;
  background: rgba(16,185,129,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 127px;
  left: 447px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v6_698 {
  width: 494px;
  height: 488px;
  background: url("../images/v6_698.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 41px;
  overflow: hidden;
}
.v6_700 {
  width: 494px;
  height: 77px;
  background: url("../images/v6_700.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_701 {
  width: 494px;
  height: 20px;
  background: url("../images/v6_701.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_702 {
  width: 494px;
  color: rgba(203,213,225,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_703 {
  width: 494px;
  height: 49px;
  background: rgba(17,34,64,0.5);
  padding: 14px 16px;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v6_706 {
  width: 460px;
  height: 19px;
  background: url("../images/v6_706.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 17px;
  overflow: hidden;
}
.v6_707 {
  width: 460px;
  color: rgba(100,116,139,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_709 {
  width: 494px;
  height: 78px;
  background: url("../images/v6_709.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 0px;
  overflow: hidden;
}
.v6_710 {
  width: 494px;
  height: 20px;
  background: url("../images/v6_710.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_711 {
  width: 494px;
  color: rgba(203,213,225,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_712 {
  width: 494px;
  height: 50px;
  background: url("../images/v6_712.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 0px;
  overflow: hidden;
}
.v6_713 {
  width: 494px;
  height: 50px;
  background: rgba(17,34,64,0.5);
  padding: 12px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v6_714 {
  width: 460px;
  height: 24px;
  background: url("../images/v6_714.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 17px;
  overflow: hidden;
}
.v6_715 {
  width: 460px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_716 {
  width: 14px;
  height: 14px;
  background: url("../images/v6_716.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 464px;
  overflow: hidden;
}
.v6_717 {
  width: 14px;
  height: 14px;
  background: url("../images/v6_717.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_718 {
  width: 12px;
  height: 7px;
  background: rgba(100,116,139,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 1px;
}
.v6_719 {
  width: 494px;
  height: 150px;
  background: url("../images/v6_719.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 203px;
  left: 0px;
  overflow: hidden;
}
.v6_720 {
  width: 494px;
  height: 20px;
  background: url("../images/v6_720.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_721 {
  width: 494px;
  color: rgba(203,213,225,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_722 {
  width: 494px;
  height: 122px;
  background: rgba(17,34,64,0.5);
  padding: 12px 16px;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v6_723 {
  width: 460px;
  height: 24px;
  background: url("../images/v6_723.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 17px;
  overflow: hidden;
}
.v6_724 {
  width: 460px;
  color: rgba(100,116,139,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_725 {
  width: 494px;
  height: 39px;
  background: url("../images/v6_725.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 377px;
  left: 0px;
  overflow: hidden;
}
.v6_726 {
  width: 13px;
  height: 20px;
  background: url("../images/v6_726.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_727 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v6_730 {
  width: 469px;
  height: 39px;
  background: url("../images/v6_730.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v6_731 {
  width: 466px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v6_735 {
  width: 494px;
  height: 48px;
  background: rgba(16,185,129,1);
  padding: 14px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0.062745101749897, 0.7254902124404907, 0.5058823823928833, 0.20000000298023224);
  overflow: hidden;
}
.v6_736 {
  width: 112px;
  height: 20px;
  background: url("../images/v6_736.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 181px;
  overflow: hidden;
}
.v6_737 {
  width: 112px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v6_738 {
  width: 12px;
  height: 12px;
  background: url("../images/v6_738.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 301px;
  overflow: hidden;
}
.v6_739 {
  width: 12px;
  height: 12px;
  background: url("../images/v6_739.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_740 {
  width: 11px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v6_741 {
  width: 100%;
  height: 751px;
  background: url("../images/v6_741.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 48px 248px;
  opacity: 1;
  position: absolute;
  top: 958px;
  left: 24px;
  overflow: hidden;
}
.v6_742 {
  width: 896px;
  height: 703px;
  background: url("../images/v6_742.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 64px 0px;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 248px;
  overflow: hidden;
}
.v6_744 {
  width: 896px;
  height: 56px;
  background: url("../images/v6_744.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 565px;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 0px;
  overflow: hidden;
}
.v6_746 {
  width: 206px;
  height: 56px;
  background: url("../images/v6_746.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_747 {
  width: 206px;
  height: 32px;
  background: url("../images/v6_747.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_748 {
  width: 164px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_752 {
  width: 206px;
  height: 20px;
  background: url("../images/v6_752.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 0px;
  overflow: hidden;
}
.v6_753 {
  width: 206px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_754 {
  width: 128px;
  height: 20px;
  background: url("../images/v6_754.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 768px;
  overflow: hidden;
}
.v6_755 {
  width: 128px;
  color: rgba(100,116,139,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_756 {
  width: 896px;
  height: 486px;
  background: url("../images/v6_756.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 153px;
  left: 0px;
  overflow: hidden;
}
.v6_757 {
  width: 896px;
  height: 151px;
  background: rgba(17,34,64,0.699999988079071);
  padding: 24px 24px;
  margin: 14px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v6_759 {
  width: 846px;
  height: 40px;
  background: url("../images/v6_759.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 620px;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 25px;
  overflow: hidden;
}
.v6_761 {
  width: 158px;
  height: 40px;
  background: url("../images/v6_761.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_762 {
  width: 40px;
  height: 40px;
  background: rgba(17,34,64,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v6_763 {
  width: 22px;
  color: rgba(52,211,153,1);
  position: absolute;
  top: 8px;
  left: 9px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v6_765 {
  width: 106px;
  height: 35px;
  background: url("../images/v6_765.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 52px;
  overflow: hidden;
}
.v6_767 {
  width: 106px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_768 {
  width: 40px;
  color: rgba(100,116,139,1);
  position: absolute;
  top: 19px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v6_769 {
  width: 68px;
  color: rgba(100,116,139,1);
  position: absolute;
  top: 0px;
  left: 778px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v6_770 {
  width: 846px;
  height: 46px;
  background: url("../images/v6_770.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 25px;
  overflow: hidden;
}
.v6_771 {
  width: 846px;
  color: rgba(203,213,225,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_772 {
  width: 896px;
  height: 151px;
  background: rgba(17,34,64,0.699999988079071);
  padding: 24px 24px;
  margin: 14px;
  opacity: 1;
  position: absolute;
  top: 167px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v6_773 {
  width: 846px;
  height: 40px;
  background: url("../images/v6_773.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 648px;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 25px;
  overflow: hidden;
}
.v6_775 {
  width: 142px;
  height: 40px;
  background: url("../images/v6_775.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_776 {
  width: 40px;
  height: 40px;
  background: rgba(17,34,64,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v6_777 {
  width: 21px;
  color: rgba(52,211,153,1);
  position: absolute;
  top: 8px;
  left: 10px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v6_778 {
  width: 90px;
  height: 35px;
  background: url("../images/v6_778.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 52px;
  overflow: hidden;
}
.v6_779 {
  width: 90px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_780 {
  width: 45px;
  color: rgba(100,116,139,1);
  position: absolute;
  top: 19px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v6_781 {
  width: 57px;
  color: rgba(100,116,139,1);
  position: absolute;
  top: 0px;
  left: 789px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v6_782 {
  width: 846px;
  height: 46px;
  background: url("../images/v6_782.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 25px;
  overflow: hidden;
}
.v6_783 {
  width: 846px;
  color: rgba(203,213,225,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_784 {
  width: 896px;
  height: 151px;
  background: rgba(17,34,64,0.699999988079071);
  padding: 24px 24px;
  margin: 14px;
  opacity: 1;
  position: absolute;
  top: 335px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v6_785 {
  width: 846px;
  height: 40px;
  background: url("../images/v6_785.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 606px;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 25px;
  overflow: hidden;
}
.v6_787 {
  width: 165px;
  height: 40px;
  background: url("../images/v6_787.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_788 {
  width: 40px;
  height: 40px;
  background: rgba(17,34,64,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v6_789 {
  width: 28px;
  color: rgba(52,211,153,1);
  position: absolute;
  top: 8px;
  left: 6px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v6_790 {
  width: 113px;
  height: 35px;
  background: url("../images/v6_790.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 52px;
  overflow: hidden;
}
.v6_791 {
  width: 113px;
  height: 20px;
  background: url("../images/v6_791.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_792 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_793 {
  width: 113px;
  color: rgba(100,116,139,1);
  position: absolute;
  top: 19px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v6_794 {
  width: 76px;
  color: rgba(100,116,139,1);
  position: absolute;
  top: 0px;
  left: 770px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v6_795 {
  width: 846px;
  height: 46px;
  background: url("../images/v6_795.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 25px;
  overflow: hidden;
}
.v6_796 {
  width: 846px;
  color: rgba(203,213,225,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_797 {
  width: 896px;
  height: 32px;
  background: url("../images/v6_797.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 671px;
  left: 0px;
  overflow: hidden;
}
.v6_798 {
  width: 32px;
  height: 32px;
  background: rgba(17,34,64,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 312px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v6_800 {
  width: 7px;
  height: 12px;
  background: url("../images/v6_800.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 13px;
  overflow: hidden;
}
.v6_801 {
  width: 7px;
  height: 12px;
  background: url("../images/v6_801.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_802 {
  width: 6px;
  height: 10px;
  background: rgba(148,163,184,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v6_803 {
  width: 32px;
  height: 32px;
  background: rgba(16,185,129,1);
  padding: 5px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 352px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v6_804 {
  width: 7px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 13px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v6_805 {
  width: 32px;
  height: 32px;
  background: rgba(17,34,64,1);
  padding: 4px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 392px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v6_806 {
  width: 9px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 5px;
  left: 12px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v6_807 {
  width: 32px;
  height: 32px;
  background: rgba(17,34,64,1);
  padding: 4px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 432px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v6_808 {
  width: 10px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 5px;
  left: 11px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v6_809 {
  width: 32px;
  height: 32px;
  background: url("../images/v6_809.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 472px;
  overflow: hidden;
}
.v6_810 {
  width: 14px;
  color: rgba(100,116,139,1);
  position: absolute;
  top: 4px;
  left: 9px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v6_811 {
  width: 32px;
  height: 32px;
  background: rgba(17,34,64,1);
  padding: 4px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 512px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v6_812 {
  width: 18px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 5px;
  left: 7px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v6_813 {
  width: 32px;
  height: 32px;
  background: rgba(17,34,64,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 552px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v6_814 {
  width: 7px;
  height: 12px;
  background: url("../images/v6_814.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 13px;
  overflow: hidden;
}
.v6_815 {
  width: 7px;
  height: 12px;
  background: url("../images/v6_815.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_816 {
  width: 6px;
  height: 10px;
  background: rgba(148,163,184,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
}
.v110_186 {
  width: 100%;
  height: 457px;
  background: rgba(10,25,47,1);
  padding: 80px 320px;
  opacity: 1;
  position: absolute;
  top: 1904px;
  left: 0px;
  overflow: hidden;
}
.v110_187 {
  width: 100%;
  height: 336px;
  background: url("../images/v110_187.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 64px;
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 320px;
  overflow: hidden;
}
.v110_188 {
  width: 100%;
  height: 219px;
  background: url("../images/v110_188.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
  overflow: hidden;
}
.v110_189 {
  width: 272px;
  height: 218px;
  background: url("../images/v110_189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 23px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v110_190 {
  width: 272px;
  height: 40px;
  background: url("../images/v110_190.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v110_191 {
  width: 40px;
  height: 40px;
  background: rgba(16,185,129,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v110_192 {
  width: 20px;
  height: 20px;
  background: url("../images/v110_192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v110_193 {
  width: 20px;
  height: 20px;
  background: url("../images/v110_193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v110_194 {
  width: 20px;
  height: 17px;
  background: rgba(16,185,129,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v110_195 {
  width: 83px;
  height: 28px;
  background: url("../images/v110_195.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 52px;
  overflow: hidden;
}
.v110_196 {
  width: 83px;
  color: url("../images/v110_196.png");
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v110_197 {
  width: 272px;
  height: 91px;
  background: url("../images/v110_197.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 0px;
  overflow: hidden;
}
.v110_198 {
  width: 272px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v110_199 {
  width: 272px;
  height: 40px;
  background: url("../images/v110_199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0px 0px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 178px;
  left: 0px;
  overflow: hidden;
}
.v110_200 {
  width: 40px;
  height: 40px;
  background: rgba(17,34,64,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v110_201 {
  width: 14px;
  height: 16px;
  background: url("../images/v110_201.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 13px;
  overflow: hidden;
}
.v110_202 {
  width: 14px;
  height: 16px;
  background: url("../images/v110_202.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v110_203 {
  width: 14px;
  height: 14px;
  background: rgba(148,163,184,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v110_204 {
  width: 40px;
  height: 40px;
  background: rgba(17,34,64,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 56px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v110_205 {
  width: 10px;
  height: 16px;
  background: url("../images/v110_205.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 15px;
  overflow: hidden;
}
.v110_206 {
  width: 10px;
  height: 16px;
  background: url("../images/v110_206.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v110_207 {
  width: 8px;
  height: 16px;
  background: rgba(148,163,184,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v110_208 {
  width: 40px;
  height: 40px;
  background: rgba(17,34,64,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 112px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v110_209 {
  width: 18px;
  height: 16px;
  background: url("../images/v110_209.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 11px;
  overflow: hidden;
}
.v110_210 {
  width: 18px;
  height: 16px;
  background: url("../images/v110_210.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v110_211 {
  width: 17px;
  height: 12px;
  background: rgba(148,163,184,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
}
.v110_212 {
  width: 272px;
  height: 219px;
  background: url("../images/v110_212.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 320px;
  overflow: hidden;
}
.v110_213 {
  width: 272px;
  height: 20px;
  background: url("../images/v110_213.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v110_214 {
  width: 272px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v110_215 {
  width: 272px;
  height: 144px;
  background: url("../images/v110_215.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  overflow: hidden;
}
.v110_216 {
  width: 272px;
  height: 24px;
  background: url("../images/v110_216.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v110_217 {
  width: 272px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v110_218 {
  width: 272px;
  height: 24px;
  background: url("../images/v110_218.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2px 0px;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: hidden;
}
.v110_219 {
  width: 272px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v110_220 {
  width: 272px;
  height: 24px;
  background: url("../images/v110_220.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2px 0px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v110_221 {
  width: 272px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v110_222 {
  width: 272px;
  height: 24px;
  background: url("../images/v110_222.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2px 0px;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 0px;
  overflow: hidden;
}
.v110_223 {
  width: 272px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v110_224 {
  width: 272px;
  height: 219px;
  background: url("../images/v110_224.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 640px;
  overflow: hidden;
}
.v110_225 {
  width: 272px;
  height: 20px;
  background: url("../images/v110_225.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v110_226 {
  width: 272px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v110_227 {
  width: 272px;
  height: 144px;
  background: url("../images/v110_227.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  overflow: hidden;
}
.v110_228 {
  width: 272px;
  height: 24px;
  background: url("../images/v110_228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v110_229 {
  width: 272px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v110_230 {
  width: 272px;
  height: 24px;
  background: url("../images/v110_230.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2px 0px;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: hidden;
}
.v110_231 {
  width: 272px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v110_232 {
  width: 272px;
  height: 24px;
  background: url("../images/v110_232.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2px 0px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v110_233 {
  width: 272px;
  color: rgba(16,185,129,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v110_234 {
  width: 272px;
  height: 24px;
  background: url("../images/v110_234.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2px 0px;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 0px;
  overflow: hidden;
}
.v110_235 {
  width: 272px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v110_236 {
  width: 272px;
  height: 219px;
  background: url("../images/v110_236.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 960px;
  overflow: hidden;
}
.v110_237 {
  width: 272px;
  height: 20px;
  background: url("../images/v110_237.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v110_238 {
  width: 272px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v110_239 {
  width: 272px;
  height: 132px;
  background: url("../images/v110_239.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  overflow: hidden;
}
.v110_240 {
  width: 272px;
  height: 60px;
  background: url("../images/v110_240.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v110_241 {
  width: 10px;
  height: 18px;
  background: url("../images/v110_241.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v110_242 {
  width: 10px;
  height: 14px;
  background: url("../images/v110_242.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v110_243 {
  width: 10px;
  height: 13px;
  background: rgba(52,211,153,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v110_244 {
  width: 249px;
  height: 60px;
  background: url("../images/v110_244.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 23px;
  overflow: hidden;
}
.v110_245 {
  width: 221px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v110_246 {
  width: 272px;
  height: 20px;
  background: url("../images/v110_246.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 0px;
  overflow: hidden;
}
.v110_247 {
  width: 14px;
  height: 14px;
  background: url("../images/v110_247.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v110_248 {
  width: 14px;
  height: 14px;
  background: url("../images/v110_248.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v110_249 {
  width: 14px;
  height: 14px;
  background: rgba(52,211,153,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v110_250 {
  width: 100px;
  height: 20px;
  background: url("../images/v110_250.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 26px;
  overflow: hidden;
}
.v110_251 {
  width: 100px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v110_252 {
  width: 272px;
  height: 20px;
  background: url("../images/v110_252.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 112px;
  left: 0px;
  overflow: hidden;
}
.v110_253 {
  width: 14px;
  height: 14px;
  background: url("../images/v110_253.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v110_254 {
  width: 14px;
  height: 14px;
  background: url("../images/v110_254.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v110_255 {
  width: 14px;
  height: 10px;
  background: rgba(52,211,153,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v110_256 {
  width: 129px;
  height: 20px;
  background: url("../images/v110_256.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 26px;
  overflow: hidden;
}
.v110_257 {
  width: 129px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v110_258 {
  width: 100%;
  height: 53px;
  background: url("../images/v110_258.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 32px 0px;
  margin: 586px;
  opacity: 1;
  position: absolute;
  top: 283px;
  left: 24px;
  overflow: hidden;
}
.v110_259 {
  width: 416px;
  height: 20px;
  background: url("../images/v110_259.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  overflow: hidden;
}
.v110_260 {
  width: 416px;
  color: rgba(100,116,139,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v110_261 {
  width: 227px;
  height: 20px;
  background: url("../images/v110_261.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 23px;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 1005px;
  overflow: hidden;
}
.v110_262 {
  width: 92px;
  height: 20px;
  background: url("../images/v110_262.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v110_263 {
  width: 92px;
  color: rgba(100,116,139,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v110_264 {
  width: 112px;
  height: 20px;
  background: url("../images/v110_264.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 116px;
  overflow: hidden;
}
.v110_265 {
  width: 112px;
  color: rgba(100,116,139,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_922 {
  width: 357px;
  height: 72px;
  background: rgba(16,185,129,0.10000000149011612);
  padding: 16px 24px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 776px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 10px 30px rgba(0.062745101749897, 0.7254902124404907, 0.5058823823928833, 0.15000000596046448);
  overflow: hidden;
}
.v6_923 {
  width: 32px;
  height: 32px;
  background: rgba(16,185,129,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 25px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v6_924 {
  width: 14px;
  height: 16px;
  background: url("../images/v6_924.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 9px;
  overflow: hidden;
}
.v6_925 {
  width: 14px;
  height: 16px;
  background: url("../images/v6_925.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_926 {
  width: 14px;
  height: 10px;
  background: rgba(52,211,153,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
}
.v6_927 {
  width: 215px;
  height: 38px;
  background: url("../images/v6_927.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 73px;
  overflow: hidden;
}
.v6_929 {
  width: 215px;
  height: 20px;
  background: url("../images/v6_929.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_930 {
  width: 198px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_931 {
  width: 215px;
  height: 16px;
  background: url("../images/v6_931.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 0px;
  overflow: hidden;
}
.v6_932 {
  width: 215px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v6_933 {
  width: 28px;
  height: 16px;
  background: url("../images/v6_933.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 304px;
  overflow: hidden;
}
.v6_934 {
  width: 12px;
  height: 20px;
  background: url("../images/v6_934.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 16px;
  overflow: hidden;
}
.v6_935 {
  width: 12px;
  height: 20px;
  background: url("../images/v6_935.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_936 {
  width: 12px;
  height: 16px;
  background: url("../images/v6_936.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v6_937 {
  width: 10px;
  height: 10px;
  background: rgba(148,163,184,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
}
